/* Заголовки */

/* Заголовок h1*/

.caption-first {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    max-width: 696px;

    display: block;
    box-sizing: border-box;
    
    
    text-align: center; 
    padding: 0px 45px;
    margin: 0 auto;
}





/* Заголовок h2*/

.caption-second {
    color: var(--c212121);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;

    display: block;
    box-sizing: border-box;
    margin: 0px 0px 50px 0px;
    
}

/* Заголовок h3*/

.caption-third {
    color: var(--c212121);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
}

