.projects-flex {

    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
}

.proj-flex:nth-child(3n + 1) {
    margin-left: 0;
}

.proj-flex:nth-child(-n + 3) {
    margin-top: 0;
}


.proj-flex {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 90px) / 3);
    padding: 0;
} 
